@using Fooidity.Management.Web.Models
@model IEnumerable<Fooidity.Management.Web.Models.CodeFeatureStateViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Features</h2>
<p>
    Features are awesome
</p>

<p>
    @Html.ActionLink("Create New", "Create", new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeFeatureId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (CodeFeatureStateViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeFeatureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated) (UTC)
            </td>
            <td>
                @Html.ActionLink("Enable", "Enable", new { codeFeatureId = item.CodeFeatureId }) |
                @Html.ActionLink("Disable", "Disable", new { codeFeatureId = item.CodeFeatureId })
                @Html.ActionLink("Details", "Details", new { codeFeatureId = item.CodeFeatureId }) |
            </td>
        </tr>
    }

</table>
