@using Fooidity.Management.Models
@model Fooidity.Management.Web.Models.ApplicationViewModel

@{
    ViewBag.Title = "Application Details";
}

<h2>Application Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            <code>@Html.DisplayFor(model => model.Id)</code>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
    </dl>

    <h4>Application Keys</h4>
    <hr />
    <p>
        @Html.ActionLink("Create New", "CreateKey", new { organizationId = Model.OrganizationId, applicationId = Model.Id })
    </p>
    <table class="table">
        <tr>
            <th>
                Key
            </th>
            <th></th>
        </tr>

        @foreach (string key in Model.Keys)
        {
            <tr>
                <td>
                    <code>@key</code>
                </td>
                <td>
                    @*                        @Html.ActionLink("Details", "Details", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
    
    <h4>Code Features</h4>
    <hr/>
    <table class="table">
        <tr>
            <th>
                Code Feature Id
            </th>
            <th>
                Enabled
            </th>
            <th>
                Last Updated (UTC)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Features.OrderBy(x => x.CodeFeatureId.Name))
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CodeFeatureId.Name, "Details", "CodeFeature", new { applicationId = Model.Id, codeFeatureId = item.CodeFeatureId }, new { })
                    <dl class="dl-horizontal">
                        <dt>
                            Namespace
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.CodeFeatureId.Namespace)
                        </dd>

                        <dt>
                            Assembly
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.CodeFeatureId.Assembly)
                        </dd>
                    </dl>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @Html.ActionLink("Enable", "Enable", new { applicationId = Model.Id, codeFeatureId = item.CodeFeatureId }) |
                    @Html.ActionLink("Disable", "Disable", new { applicationId = Model.Id, codeFeatureId = item.CodeFeatureId })
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
